html, body {
  margin: 0;
  padding: 0;
}

a {
  color: #b8bbc1;
  text-decoration: none;
  outline: none;
}

a:hover {
  font-weight: 400;
}

p, h1, h2, h3, h4, h5, div {
  font-family: 'Quicksand', sans-serif;
  color: #4286f4;
}

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 2vw;
}

#main-content {
  margin: 10vw auto;
  width: 50vw;
}

#main-content > * {
  width: 100%;
}

#search-input {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: b;
  box-sizing: b;
  opacity: 0.8;
  width: 100%;
  height: 60px;
  padding: 0px 20px 0px 40px;
  border-color: #4286f4;
  border-radius: 31px;
  border-style: solid;
  border-width: 2px;
  margin-top: 5vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #eaedef;
  color: #333;
}

#search-input:focus {
  outline: none;
  opacity: 0.99;
}

#search-input:focus#search-submit {
  opacity: 0.99;
}

::-webkit-input-placeholder {
  color: #4286f4;
}

input:-moz-placeholder {
  color: #4286f4;
}

#api-link {
  margin-top: 30px;
  font-weight: 300;
}

#result-wrapper {
  margin-top: 40px;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

#result-wrapper > * {
  color: #f936b2;
}

#result-msg {
  color: #333;
}

.error {
  margin-top: 40px;
  box-sizing: border-box;
  padding: 30px;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.datagrid {
    background: #fff;
    overflow: hidden;
    border: 1px solid #333333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.datagrid table td,
.datagrid table th {
    padding: 10px 10px;
}
.datagrid table tbody td {
    color: #333333;
    border-left: 5px solid #E1EEF4;
    font-size: 16px;
    font-weight: normal;
}
.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.datagrid table tfoot td div {
    border-top: 1px solid #333333;
    background: #FFFFFF;
}
.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}
.datagrid table tfoot td div {
    padding: 10px;
}

.field {
  text-align: right;
}
